*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 720px;
    background-color: #F2EAE2;
}
p{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
text-decoration: none;
color: red;
}
.container{
    width: 600px;
    border-radius: 10px;
    margin: auto;
    margin-top: 175px;
}
.container img{
    float: left;
}
.content{
    background-color:#FFFFFF;
    padding-left: 332px;
    height: 450px;
    border-radius: 10px;
}
.content h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    letter-spacing: 5px;
    padding-top: 32px;
    margin-bottom: 20px;
}
.content h1{
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color:#1C232B;
    margin-bottom: 24px;
}
.content p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color:#6C7289;
    margin-bottom: 29px;
}
.price{
    margin-bottom: 30px;
}
.old-price{
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color:#3D8168;
    margin-right: 19px;
    vertical-align: middle;
}
.discounted-price{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    color:#6C7289;
    text-decoration: line-through;
    vertical-align: middle;
}
.content a{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    background-color:#3D8168;
    padding: 17px 85px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}